section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none; /* Missing semicolon */

    li {
      & + li {
        margin-top: 20px;
      }

      p {
        font-size: 14px;
        color: #444;
        margin-top: 20px;
      }

      a {
        display: inline-block; /* Missing semicolon */
        margin-top: 16px; /* Missing semicolon */
        text-decoration: none;
        color: #257e6a; /* Hex color needs six characters */
      }
    }
  }
}
